<nav *ngIf="tour !== undefined; else loadingBlock" class="full-content">
  <label> {{tour.title}} </label> <br>
  <label [innerHTML]="tour.description"> </label>
  <label> Продолжительность: {{tour.duration}} </label> <br>
  <label> Максимальное колличество участников: {{tour.participants}} </label> <br>
  <label> Место встречи: {{tour.venue}} </label> <br>
  <label> Цена за человека: {{tour.price}} </label> <br>
  <nav style="width: 100%" *ngIf="tour.pictures.length > 0">
       <slideshow
         [height]="'auto'"
         [minHeight]="'600px'"
         [autoPlay]="true"
         [showArrows]="true"
         [imageUrls]="tour.pictures">
       </slideshow>
  </nav>
  <h3>Выберите подходящую дату:</h3>
  <app-calendar [(tour)]="tour"></app-calendar>
  <!--<div *ngIf="vacantDates.length > 0; else elseBlock">-->
    <!--<p>Vacant dates:</p>-->
    <!--<div class="vacant-date" *ngFor="let vacantDate of vacantDates">-->
      <!--<span>StartDate: {{vacantDate.startDate | date : 'd MMMM yyyy H:mm'}}</span><br>-->
      <!--<span>Vacant places: {{vacantDate.vacantPlaces}}</span><br>-->
      <!--<button routerLink="/booking/{{vacantDate.id}}">Order</button>-->
    <!--</div>-->
  <!--</div>-->
  <!--<ng-template #elseBlock>-->
    <!--<p>We don't have any vacant dates, if you are interesting in the tour, please contact us.</p>-->
  <!--</ng-template>-->

  <button (click)="goBack()"><span>Back</span></button>
</nav>


<!--<p-galleria [images]="images" panelWidth="500" panelHeight="500" [showCaption]="true" [autoPlay]="true"></p-galleria>-->

<ng-template #loadingBlock>
  <p>Загрузка...</p>
</ng-template>

