<div *ngIf="error === undefined || error === null; else errorBlock">
  <form class="tourForm" (ngSubmit)="updateTour()" #tourForm="ngForm">
    <label>Title: </label> <input type="text" name="title" [(ngModel)]="tour.title" required> <br>
    <label>Short description: </label> <input type="text" name="shortDescription" [(ngModel)]="tour.shortDescription"> <br>
    <label>Description: </label> <input type="text" name="description" [(ngModel)]="tour.description"> <br>
    <label>Duration: </label> <input type="text" name="duration" [(ngModel)]="tour.duration"> <br>
    <label>Number of participants: </label> <input type="number" name="participants" [(ngModel)]="tour.participants"> <br>
    <label>Venue: </label> <input type="text" name="venue" [(ngModel)]="tour.venue"> <br>
    <label>Price: </label> <input type="number" name="price" [(ngModel)]="tour.price"> <br>
    <label>Main image: </label> <input type="text" name="imageUrl" [(ngModel)]="tour.imageUrl"> <br>

    <label>Pictures: </label> <br>
    <input type="text" name="picture" placeholder="Type picture URL" [(ngModel)]="inputPictureUrl">
    <button type="button" (click)="addPictureUrl()">Add &#10004;</button> <br>
    <nav *ngFor="let pic of tour.pictures">
      <label>{{pic}}</label>
      <button type="button" (click)="deletePicture(pic)">Delete &#10008;</button> <br>
      <img src="{{pic}}" alt="Can't find a picture"> <br>
    </nav>

    <button type="submit" [disabled]="tourForm.form.invalid">Save</button>
    <button type="button" (click)="goBack()">Cancel</button>
  </form>
</div>
<ng-template #errorBlock>
  <p>{{error}}</p>
</ng-template>
