<div>
  <div *ngIf="vacantTours && vacantTours.length > 0; else elseBlock">
    <a *ngFor="let vacTour of vacantTours">
      <label>StartDate: {{vacTour.startDate}}</label><br>
      <label>Vacant places: {{vacTour.vacantPlaces}}</label><br>
      <button routerLink="/order/{{vacTour.id}}">Order</button>
    </a>
  </div>
  <ng-template #elseBlock>
    <p>We don't have any vacant dates, if you are interesting in the tour, please contact us.</p>
  </ng-template>
  <button (click)="goBack()">back</button>
</div>
