<app-header></app-header>

<div *ngIf="auth.isLoggedIn(); else errorBlock">
  <nav>
    <a routerLink="/tours">Tours</a>
    <a routerLink="/about">About us</a>
    <a routerLink="/editor">Editor</a>
    <a routerLink="/orders">Orders</a>
    <a (click)="logout()">Log out</a>
  </nav>
</div>
<ng-template #errorBlock>
  <nav>
    <a routerLink="/tours">Tours</a>
    <a routerLink="/about">About us</a>
    <a routerLink="/login">Log in</a>
  </nav>
</ng-template>

<router-outlet></router-outlet>

<app-footer></app-footer>
