<div>
  <a *ngIf="currentTour; else elseBlock">
      <app-tour-full [tour]="currentTour"></app-tour-full>
      <button routerLink="/vacant/{{currentTour.id}}">Look at vacant dates</button>
      <button (click)="goBack()"><span>Back</span></button>
  </a>
  <ng-template #elseBlock>
    <p>{{title}}</p>
    <nav>
      <a class="content" *ngFor="let tour of tours">
        <app-tour-lite *ngIf="tour.visible" [tour]="tour" (click)="onClick(tour)"></app-tour-lite>
      </a>
    </nav>
  </ng-template>
</div>
