img {
  width:98%;
  margin: 1%;
}

.content {
  position: relative;
  width: 300px;
  min-height: 150px;
  height: auto;
  border-radius: 10px;
  background: #EEE;
  display: inline-block;
  padding: 5px;
  margin: 5px;
}
